.navbar-brand {
    margin-left: 100px;
}

.sec1-bg {
     background-color: #39FF14; 
    
   /* background: rgb(225,250,84);
    background: linear-gradient(222deg, rgba(225,250,84,1) 0%, rgba(216,249,83,1) 23%, rgba(209,249,82,1) 48%, rgba(205,248,81,1) 70%, rgba(203,248,81,1) 85%, rgba(203,248,81,1) 100%); */
}

.sec2-bg {
    background-color:#343A40;
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(7,9,13,1) 15%, rgba(13,17,24,1) 34%, rgba(19,26,36,1) 64%, rgba(24,33,46,1) 84%, rgba(27,37,51,1) 100%);
    /* color: #39FF14; */
    color: #39FF14;
    margin-bottom: -3px;
   
    /* color: #24E500; 
    blue black #343A40*/
}

.sec3-bg {
    background-color: #39FF14;
}

.sec4-bg {
    background-color: #343A40;
    color: #39FF14;
}

body {
    background-color: #39FF14;
    font-family: 'JetBrains Mono', monospace;
}

.duh {
    width: 135px;
}

.text-mid {
    text-align: center;
}

.spacer {
    aspect-ratio: 3840/100;
    width: 100%;
    height: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('layer1.svg');
    margin: -2px -0px;
   /* margin-top: -5em; */
}

.layer2 {
    background-image: url('layer2.svg');
    margin-top: -2px;

}

.contact-card {
    background-color: #39FF14;
    color: black;
}

.sec1-img {
    width: 100vh;
    height: auto;
}

h1, .email {
    font-weight: 700;
}

.card-text {
    text-align: center;
}

.proj-card {
    background-color:#343A40;
    color: #39FF14;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.card {
    border: none;
}

.social {
    text-decoration: none;
    color:rgb(33, 37, 41);
}

footer {
    background-color: #343A40;
    text-align: center;
    color: #000000;
}

.proj {
    text-decoration: none;
    color: #39FF14;
}

a:hover {
    text-decoration: none;
    color: black
}
.proj:visited {
    text-decoration: none;
    color: chartreuse;

}